@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFWkU1Z4Y.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

button:focus {
  outline: none;
}

.navbar {
  border-bottom: 1px solid #dadce0;
}

.nav {
  display: flex;
  padding: 1rem;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px;
}

.logo {
  flex: 1;
  font-size: 1.6rem;
  font-weight: 300;
  color: #181818;
  background: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

.action-links {
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
  color: #256eff;
  cursor: pointer;
  background: transparent;
  border: none;
  text-decoration: none;
}

.action-links:hover {
  border-radius: 0.3rem;
  background-color: #f8f8f8;
}

.main {
  margin: 2rem auto;
  max-width: 1140px;
  padding: 1rem;
}

.main-title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.card-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.6rem;
  align-items: center;
  margin: 2rem 0;
}

.product-title {
  font-size: 1.8rem;
  color: #363636;
  font-weight: 400;
  margin-bottom: 1rem;
}

.product-price {
  font-size: 1.4rem;
  color: #696969;
  font-weight: 400;
  margin-bottom: 1rem;
}

.product-quantity {
  font-size: 1.2rem;
  color: #256eff;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card-button-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.primary {
  flex: 2;
  background-color: #256eff;
  border: 1px solid #256eff;
  color: #fff;
  text-align: center;
  padding: 0.8rem 1rem;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1.3rem;
  border-radius: 0.3rem;
}

.secondary {
  flex: 1;
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  color: #363636;
  text-align: center;
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 0.3rem;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 1rem 0;
}

.card-body {
  padding: 1rem;
}

img {
  width: 100%;
  height: 200px;
}
